.radio {
  appearance: none;
  height: 0;
  width: 0;
}

.container {
  align-self: normal;
}

.radio + label:before {
  background: var(--color-base-white);
  border-radius: 100%;
  border: 1px solid var(--color-neutral-gray-dark);
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 1.4em;
}

.radio:checked + label:before {
  background-color: var(--color-primary-red);
  border: 1px solid var(--color-primary-red);
  box-shadow: inset 0 0 0 4px var(--color-base-white);
}

.radio:focus + label:before {
  border-color: var(--color-primary-red);
  outline: none;
}

.radio:disabled + label:before {
  background: var(--color-neutral-gray-silver);
  border-color: var(--color-neutral-gray-silver);
  box-shadow: inset 0 0 0 4px var(--color-neutral-gray);
}

.radio__green + label:before {
  background: var(--color-base-white);
  border-radius: 100%;
  border: 1px solid var(--color-neutral-gray-dark);
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 1.4em;
}

.radio__green:checked + label:before {
  background-color: var(--color-primary-green-light);
  border: 1px solid var(--color-primary-green-light);
  box-shadow: inset 0 0 0 4px var(--color-base-white);
}

/* alvi */
.radio__alvi {
  appearance: none;
  height: 0;
  width: 0;
}

.radio__alvi + label:before {
  background: var(--color-base-white);
  border-radius: 100%;
  border: 1px solid var(--color-alvi-neutral-gray-dark);
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 1.4em;
}

.radio__alvi:checked + label:before {
  background-color: var(--color-alvi-primary-blue);
  border: 1px solid var(--color-alvi-primary-blue);
  box-shadow: inset 0 0 0 4px var(--color-base-white);
}

.radio__alvi:focus + label:before {
  border-color: var(--color-alvi-primary-blue);
  outline: none;
}

.radio__alvi:disabled + label:before {
  background: var(--color-neutral-gray-silver);
  border-color: var(--color-neutral-gray-silver);
  box-shadow: inset 0 0 0 4px var(--color-alvi-primary-blue);
}
