.quantity__button {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  height: 100%;
  margin: 0;
  padding: 0 0.5rem;
  text-align: center;
}

.quantity__button:hover:not([disabled]) {
  background: var(--color-primary-red-qty-button);
  cursor: pointer;
  transition: all 250ms linear;
}

.quantity__button:hover:not([disabled]) > svg {
  fill: var(--color-neutral-white);
}

.quantity__button:disabled {
  pointer-events: none;
}

.quantity__button--left {
  background-color: var(--color-neutral-white);
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  border: 1px solid var(--color-text-primary);
}

.quantity__button--left > svg {
  fill: var(--color-primary-red);
}

.quantity__button--right:disabled {
  background-color: var(--color-neutral-gray-silver);
  border: 1px solid var(--color-neutral-gray-silver);
}

.quantity__button--right {
  background: var(--color-primary-red-qty-button);
  border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
  border: 1px solid var(--color-text-primary);
}

.quantity__button--right > svg {
  fill: var(--color-neutral-white);
}