.dotList {
  position: absolute;
  margin-bottom: -36px;
  padding: 14px;
}

.shelfStyle {
  filter: var('--filter-xs');
}

@media screen and (max-width: 39.9375em) {
  .carouselProducts {
    scroll-snap-type: x mandatory;
  }

  .carouselProducts section {
    flex-shrink: 0;
    scroll-snap-align: start;
  }
}
