.button {
  border: var(--border-radius-none);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0px;
  line-height: var(--line-height-lg);
  text-align: center;
  cursor: pointer;
}

.button--xl {
  border-radius: var(--border-radius-xs);
  font-size: var(--font-size-xl);
  height: 45px;
  left: 0px;
  top: 0px;
}

.button--large,
.button--lg {
  border-radius: var(--border-radius-xs);
  height: 45px;
  left: 0px;
  top: 0px;
}

.button--medium {
  border-radius: var(--border-radius-xs);
  height: 40px;
  left: 0px;
  top: 0px;
}

.button--small,
.button--sm {
  border-radius: var(--border-radius-xs);
  height: 35px;
  left: 0px;
  top: 0px;
}

.button--xs {
  border-radius: var(--border-radius-xs);
  font-size: var(--font-size-md);
  height: 30px;
  left: 0px;
  top: 0px;
}

.button--md {
  font-size: var(--font-size-md);
  height: 45px;
  left: 0px;
  top: 0px;
}

.button--small svg,
.button--sm svg {
  margin-top: 0.125rem;
}

.button--loading svg {
  animation: loading-spinner 1s linear infinite;
  margin-top: 0.188rem;
}

.button--fullwidth {
  width: 100% !important;
}

.button__sub-category {
  background-color: var(--color-base-white);
  border-radius: var(--border-radius-full);
  border: var(--border-width-xs) solid var(--color-neutral-gray-dark);
  color: var(--color-text-black);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  padding: 0 12px;
  white-space: nowrap;
}

.button__plain {
  background: transparent;
  border: none;
  font-weight: var(--font-weight-normal);
  padding: 0;
  text-align: left;
}

.button__semibold {
  background: transparent;
  border: none;
  font-weight: var(--font-weight-semibold);
  padding: 0;
  text-align: left;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* underline */
.button--none {
  text-decoration: none;
}

.button--hover:hover {
  text-decoration: underline;
}

.button--always {
  text-decoration: underline;
}

.button--line-through {
  text-decoration: line-through;
}

.button--icon {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 1fr repeat(2, auto) 1fr;
  justify-items: center;
}

.button--icon label {
  cursor: pointer;
  grid-column-start: 2;
}

.button--icon svg {
  cursor: pointer;
  grid-column-start: 4;
  margin-left: auto;
  padding-right: 5px;
}
