.quantity__button {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  height: 100%;
  margin: 0;
  padding: 0 0.5rem;
  text-align: center;
}

.quantity__button:hover:not([disabled]) {
  background: var(--color-primary-red-qty-button);
  cursor: pointer;
  transition: all 250ms linear;
}

.quantity__button:hover:not([disabled]) > svg {
  fill: var(--color-neutral-white);
}

.quantity__button:disabled {
  pointer-events: none;
}

.quantity__button--left {
  background-color: var(--color-neutral-white);
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  border: 1px solid var(--color-text-primary);
}

.quantity__button--left > svg {
  fill: var(--color-primary-red);
}

.quantity__button--right:disabled {
  background-color: var(--color-neutral-gray-silver);
  border: 1px solid var(--color-neutral-gray-silver);
}

.quantity__button--right {
  background: var(--color-primary-red-qty-button);
  border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
  border: 1px solid var(--color-text-primary);
}

.quantity__button--right > svg {
  fill: var(--color-neutral-white);
}

.quantity__button_alvi {
  border-radius: 50%;
  border: 0;
  bottom: 0;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  height: 27px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: 27px;
}

.quantity__button_alvi:hover:not([disabled]) {
  cursor: pointer;
  transition: all 250ms linear;
}

.quantity__button_alvi[disabled] > svg {
  fill: var(--color-primary-disabled);
}

.quantity__button_alvi:hover:not([disabled]) > svg {
  fill: var(--color-alvi-primary-blue);
}

.quantity__button_alvi:disabled {
  pointer-events: none;
}

.quantity__button_alvi--left {
  background-color: var(--color-icons-white);
  left: 4px;
  padding: 0 0.3rem;
}

.quantity__button_alvi--left > svg {
  fill: var(--color-alvi-primary-blue);
}

.quantity__button_alvi--right:disabled {
  background-color: var(--color-icons-white);
}

.quantity__button_alvi--right {
  background-color: var(--color-icons-white);
  padding: 0 0.45rem;
  right: 4px;
}

.quantity__button_alvi--right > svg {
  fill: var(--color-alvi-primary-blue);
}

.quantity__button_alvi_sm {
  height: 22px;
  width: 22px;
}

.quantity__button_alvi_sm--right {
  padding: 0.04rem 0.25rem;
  right: 4px;
}

.quantity__button_alvi_sm--left {
  left: 4px;
  padding: 0.04rem 0;
}