.grid picture,
.gridMobile picture {
  width: 100%;
}

.grid,
.gridMobile {
  display: flex;
}

.gridMobile {
  overflow-x: scroll;
  overflow-y: hidden;
}

.gridMobile::-webkit-scrollbar {
  display: none;
}